<!--
    Author: Ahmad Adnan, Patrick Celedio
    Purpose: Dashboard for user Interface 
 -->

<div id="dash-wrapper">
<center>
<div class="dashboard-main">
    <div class="container">
    <h1 align="center" style="color: #ffd002">{{username}} Dashboard</h1>
</div>
    <div class="dashboard-card" onclick="window.location.href='/create-listing'">
        Create Listing
    </div>
    <div class="dashboard-card" onclick="window.location.href='/listing/searchbyname'">
        View My Listings   
    </div>
    <div class="dashboard-card" onclick="window.location.href='/inbox'">
        View Messages   
    </div>
</div>
</center>
</div>
