<!--
    Author: 
    Purpose: 
 -->
<div>
    <div>
        <nav id="footer-bar">
            <div class="footer-slogan">
                <p>© MarketGator</p>
            </div>
            
            <ul id="footer">
                <li class="footer-item"><a href="/about_team">About</a></li>
                <li class="footer-item"><a target="_blank" rel="noopener noreferrer" href="/termsconditions">Terms</a></li>
                <li class="footer-item"><a target="_blank" rel="noopener noreferrer" href="/termsconditions">Privacy</a></li>
                <li class="footer-item"><a target="_blank" rel="noopener noreferrer" href="/termsconditions">Help</a></li>
            </ul>
        </div>
    </nav>
    
</div>
