
<!--
    Author: Rohit Devdhar
    Purpose: Adding logo to homepage and splitting it into two
 -->
 

    <div id = "logo">
        <img src="/public/images/logo/official_logo3.png" width="250" height="167">
    </div>
    <div>
        <div id = "messages">
            <h1>
                <i>The</i> premier platform for SF State students and faculty to meet and trade scholastic items and goods.
            </h1>
            <div id = "messages2">
                <h3>Quick. Secure. Social Transactions.</h3>
                <div id = "messages3">
                    <a href="/registration"><button id="take-button" style="--slist: #ffda5f, #f9376b">Join us today!</button></a>
                </div>     
            </div>
        </div>
    </div>
    <body>
        <header>
            <h1>Some of our top categories below!</h1>
        </header>
        <main>
            
                <div class = "cards-container">
                    <div class = "card cta-card">
                        <img id = "allImages" src = "/public/images/products/books.png">
                        
                        <a href = "/searchGET?category=Kitchen&search=" class = "cta-btn">Books</a>
                    </div>
                    <div class = "card cta-card">
                        <img id = "allImages" src = "/public/images/products/headphones.webp">
                        
                        <a href = "/searchGET?category=Decor&search=" class = "cta-btn">Electronics</a>
                    </div>
                    <div class = "card cta-card">
                        <img id = "allImages" src = "/public/images/products/movies.png">
                        
                        <a href = "/searchGET?category=Metal&search=" class = "cta-btn">Movies</a>
                    </div>
                    <div class = "card cta-card">
                        <img id = "allImages" src = "/public/images/products/paintbrush.webp">
                        
                        <a href = "/searchGET?category=Cups&search=" class = "cta-btn">Art</a>
                    </div>
                </div>
            
        </main>
    </body>
    








    <!--
    <div class = "card">
        <div id = "books" class = "container">
            <a href = "/searchGET?category=Kitchen&search="></a>
            <img id = "allImages" src = "/public/images/products/books.jpeg">
            <h4>Books</h4>
            <p>Click to view all books!</p>
        </div>
    </div>
    <div class = "card">
        <div id = "electronics" class = "container">
            <img id = "allImages" src = "/public/images/products/electronics.jpeg">
            <h4>Electronics</h4>
            <p>Click to view all books!</p>
        </div>
    </div>
    <div class = "card">
        <div id = "movies" class = "container">
            <img id = "allImages" src = "/public/images/products/movies.webp">
            <h4>Movies</h4>
            <p>Click to view all books!</p>
        </div>
    </div>
    <div class = "card">
        <div id = "art" class = "container">
            <img id = "allImages" src = "/public/images/products/art.jpeg">
            <h4>Pictures</h4>
            <p>Click to view all books!</p>
        </div>
    </div>
   --> 
        
        



    