<!--
    Author: 
    Purpose: 
 -->
<div>
    <script>
        <div id="test-page">
            <h2 id="test-page">Vertical Prototype</h2> 
            <div id="proof-grid">
            {{#each items}}
                {{> card this}}
            {{/each}}
            </div>
        </div>
    </script>
</div>