<div id = "abouty">
    <h1>Ahmad Adnan<h1>
    <img src="/public/images/team/Ahmad.jpeg" alt="PICTURE OF Ahmad Adnan" width="250" height="300">
</div>

<div id = "abouty">
    <h2>Team 05 Github Master </h2>
    <p>
    My name is Ahmad Adnan. I am a senior studying computer Science at
    San Francisco State University, slated to graduate fall 2022. My favorite food is pizza. 
    </p>
</div>

<div id = "backto">   
    <li><a href="/about_team">Back to about</a></li>
</div>