<div id = "abouty">
    <h1>Ethan Lunderville<h1>
    <img src="/public/images/team/ethan.jpeg" alt="PICTURE OF FIRSTNAME LASTNAME" width="250" height="300">
</div>

<div id = "abouty">
    <p>
        My name is Ethan and I am a Computer Science student at SFSU. I am originally from 
        San Diego and my hobbies inlcude coding and surfing.
    </p>
</div>

<div id = "backto">   
    <li><a href="/about_team">Back to about</a></li>
</div>