<div id = "abouty">
    <h1>Michael Feger<h1>
    <img src="/public/images/team/michael.jpeg" alt="PICTURE OF FIRSTNAME LASTNAME" width="250" height="300">
</div>

<div id = "abouty">
<h2>Team 05 Back-end Lead</h2>
<p>
Computer Science Major at San Francisco State University.
</p>
</div>

<div id = "backto">   
    <li><a href="/about_team">Back to about</a></li>
</div>