<div id = "abouty">
    <h1>Nyan Ye Lin<h1>
    <img src="/public/images/team/nyanlin.jpeg" alt="PICTURE OF FIRSTNAME LASTNAME" width="250" height="300">
</div>

<div id = "abouty">
<p> Hi, My name is Nyan Ye Lin. I'm a transfer student and CS major at SFSU. </p>
</div>

<div id = "backto">   
    <li><a href="/about_team">Back to about</a></li>
</div>