<div id = "abouty">
    <h1>Patrick Celedio<h1>
    <img src="/public/images/team/patrick.jpg" alt="PICTURE OF FIRSTNAME LASTNAME" width="213" height="213">
</div>

<div id = "abouty">
    <h2>Team 05 Lead and Front-end Lead</h2>
    <p>
        I am a Computer Science major in my senior year at San Francisco State University! I am currently learning TypeScript and writing web servers. 
        My hobbies are reading about the latest technology, writing simple programs in Java or C++ and e-bike riding. 

    </p>
</div>

<div id = "backto">   
    <li><a href="/about_team">Back to about</a></li>
</div>