<div id = "abouty">
    <h1>Rohit Devdhar<h1>
    <img src="/public/images/team/rohitprofpic.jpg" alt="PICTURE OF FIRSTNAME LASTNAME" width="250" height="300"> 
</div>

<div id = "abouty">
<p>
Hello, my name is Rohit Devdhar and I am a 4th year Computer Science major
at SFSU. In my free time I like playing basketball and video games!
</p>
</div>

<div id = "backto">   
    <li><a href="/about_team">Back to about</a></li>
</div>