<h1>FIRSTNAME LASTNAME<h1>

<img src="/public/images/team/YOURPICTURE" alt="PICTURE OF FIRSTNAME LASTNAME" width="500" height="600">

<h2>
    
SHORT BIO ABOUT YOU

</h2>

<li><a href="/about_team">Back to about</a></li>
