<!--
    Author: Rohit Devdhar
    Purpose: Changing the format of the about us page to
    give it a more efficient UI.
-->

<div id = "about1" style="margin-top: 50px;">
    <h1>About Us</h1>
</div>
<center  style="margin-top: 90px;">
<div id="proof-grid" >
<div class = "box">
    <center><img src="/public/images/team/patrick.jpg" id="pic" style="border-radius: 20px; margin-top: 28px;" width="150" height="150"></center>
   <a style="color: white;" href="/about_team/pceledio">Patrick Celedio</a>
    <h1 id = "job1">Team Lead</h1>
    <h2 id = "job1">Front-end Lead</h2>
</div>
<div class = "box">
    <center><img src="/public/images/team/Ahmad.jpeg" id="pic" style="border-radius: 20px; margin-top: 28px;" width="150" height="150"></center>
    <li><a  style="color: white;" href="/about_team/aadnan">Ahmad Adnan</a></li>
    <h1 id = "job1">Github Master</h1>
</div>
<div class = "box">
    <center><img src="/public/images/team/michael.jpeg" id="pic" style="border-radius: 20px; margin-top: 28px;" width="150" height="150"></center>
    <li><a style="color: white;" href="/about_team/mfeger">Michael Feger</a></li>
    <h1 id = "job1">Back-end Lead</h1>
</div>
<div class = "box">
    <center><img src="/public/images/team/rohitprofpic.jpg" id="pic" style="border-radius: 20px; margin-top: 28px;" width="150" height="150"></center>
    <li><a style="color: white;" href="/about_team/rdevdhar">Rohit Devdhar</a></li>
</div>
<div class = "box">
    <center><img src="/public/images/team/nyanlin.jpeg" id="pic" style="border-radius: 20px; margin-top: 28px;" width="150" height="150"></center>
    <li><a style="color: white;" href="/about_team/nyanyelin">Nyan Ye Lin</a></li>
</div>
<div class = "box">
    <center><img src="/public/images/team/ethan.jpeg" id="pic" style="border-radius: 20px; margin-top: 28px;" width="150" height="150"></center>
    <li><a style="color: white;" href="/about_team/elunderville">Ethan Lunderville</a></li>
</div>
</div>
</center>